@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background: rgb(20, 12, 30);
}

.h2 {
  @apply
  text-white
    text-6xl
    uppercase
    relative
    bg-opacity-30
    pl-24
    -rotate-6
    scale-105
    my-28
  text-white
    max-w-full;
  font-family: "Exo";
  mask: linear-gradient(
      to top,
      #000 1%, 0%,
      #0000 8%, 0%,
      #000 10%, 0%,
      #0000 16%, 0%,
      #000 19%, 0%,
      #0000 24%, 0%,
      #000 28%, 0%,
      #0000 32%, 0%,
      #000 37%, 0%,
      #0000 40%, 0%,
      #000 46%, 0%,
      #0000 48%, 0%,
      #000 55%, 0%,
      #0000 56%, 0%,
      #000 57%     /* visible til end */
    ) no-repeat;

    @media (min-width: 950px) {
      @apply text-9xl;
    }

 &.alt {
  @apply
    text-right
    rotate-6
    pl-0
    pr-24
    mb-40;
 }
}
